.images {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}
#imgOne {
  position: absolute;
  top: 10vw;
  left: 10vw;
}
#imgTwo {
  position: absolute;
  top: 10vw;
  left: 25vw;
}
#imgThree {
  position: absolute;
  top: 10vw;
  left: 40vw;
}
#imgFour {
  position: absolute;
  top: 10vw;
  left: 54vw;
}
#imgFive {
  position: absolute;
  top: 10vw;
  left: 68vw;
}

.animation {
  position: absolute;
  top: 10vw;
  left: 10vw !important;
}
